In [1]:
import requests as req
from bs4 import BeautifulSoup as bs

url = 'https://finance.naver.com/sise/sise_market_sum.naver'
web = req.get(url)
# print(web)
soup = bs(web.content, 'html.parser')
# soup = bs(web.content, 'html5lib')
# print(soup)
title = soup.select('.type_2')
name = soup.select('.tltle')
# print(title)
# print(name)
atitle = soup.select('.type_2')
# atitle = soup.select('tbody')
# aname = soup.select('.number')
# aname = soup.select('tbody')[0:2]
# aname = soup.select('td:first-child')
# aname = soup.select('table.type_2 tbody tr td.number')
aname = soup.select('td.number:nth-child(3)')
# print(aname)
for i, (n,a) in enumerate(zip(name,aname),1):
# for i, n, a in enumerate(name,1, aname):
    print(f'{i}위: {n.text} {a.text}원')

1위: 삼성전자 58,400원
2위: SK하이닉스 216,000원
3위: LG에너지솔루션 373,500원
4위: 삼성바이오로직스 1,135,000원
5위: 현대차 202,500원
6위: 삼성전자우 49,150원
7위: 셀트리온 180,300원
8위: 기아 93,800원
9위: NAVER 220,000원
10위: KB금융 82,500원
11위: 한화에어로스페이스 619,000원
12위: HD현대중공업 315,500원
13위: 신한지주 47,550원
14위: 삼성물산 132,900원
15위: 메리츠금융지주 123,000원
16위: 현대모비스 251,000원
17위: 한화오션 72,900원
18위: POSCO홀딩스 264,000원
19위: 삼성생명 101,100원
20위: SK이노베이션 130,900원
21위: 삼성화재 403,500원
22위: 두산에너빌리티 28,650원
23위: 하나금융지주 62,300원
24위: 카카오 40,050원
25위: LG화학 248,000원
26위: 고려아연 821,000원
27위: HMM 18,600원
28위: 크래프톤 332,500원
29위: HD한국조선해양 222,500원
30위: 삼성SDI 228,500원
31위: 한국전력 21,600원
32위: SK스퀘어 102,600원
33위: HD현대일렉트릭 375,500원
34위: LG전자 81,900원
35위: KT&G 105,400원
36위: 우리금융지주 17,420원
37위: SK텔레콤 58,000원
38위: 기업은행 15,580원
39위: 삼성중공업 13,930원
40위: KT 47,500원
41위: 카카오뱅크 23,800원
42위: LG 70,400원
43위: 포스코퓨처엠 142,900원
44위: SK 149,800원
45위: 삼성전기 141,600원
46위: 하이브 249,000원
47위: 한미반도체 104,800원
48위: 삼성에스디에스 130,300원
49위: 유한양행 123,200원
50위: 현대글로비스 128,300원

In [2]:
import sise
sise.nsise()

1위: 삼성전자 58,300원
2위: SK하이닉스 216,000원
3위: LG에너지솔루션 373,500원
4위: 삼성바이오로직스 1,135,000원
5위: 현대차 202,500원
6위: 삼성전자우 49,150원
7위: 셀트리온 180,500원
8위: 기아 93,800원
9위: NAVER 220,000원
10위: KB금융 82,500원
11위: 한화에어로스페이스 618,000원
12위: HD현대중공업 315,500원
13위: 신한지주 47,550원
14위: 삼성물산 133,300원
15위: 메리츠금융지주 123,000원
16위: 현대모비스 251,000원
17위: 한화오션 72,700원
18위: POSCO홀딩스 264,500원
19위: 삼성생명 101,100원
20위: SK이노베이션 130,900원
21위: 삼성화재 403,500원
22위: 두산에너빌리티 28,500원
23위: 하나금융지주 62,300원
24위: 카카오 40,000원
25위: LG화학 248,000원
26위: 고려아연 821,000원
27위: HMM 18,640원
28위: 크래프톤 333,000원
29위: 삼성SDI 228,500원
30위: HD한국조선해양 222,000원
31위: 한국전력 21,600원
32위: SK스퀘어 102,600원
33위: HD현대일렉트릭 375,000원
34위: LG전자 81,900원
35위: KT&G 105,200원
36위: 우리금융지주 17,420원
37위: SK텔레콤 58,000원
38위: 기업은행 15,580원
39위: 삼성중공업 13,930원
40위: KT 47,500원
41위: 카카오뱅크 23,800원
42위: LG 70,400원
43위: 포스코퓨처엠 142,900원
44위: SK 149,500원
45위: 삼성전기 141,600원
46위: 하이브 249,500원
47위: 한미반도체 104,800원
48위: 삼성에스디에스 130,500원
49위: 유한양행 123,200원
50위: 현대글로비스 128,300원