In [5]:
# !pip install pandas

In [6]:
import pandas as pd
file_path = './ref/경상남도 김해시_경전철 역사별 시간대별 승하차 인원 정보_20241225.csv'
gimhea = pd.read_csv(file_path, encoding="EUC-KR")
gimhea.head()

,분류,영업일자,역사명,합계,00시 인원,01시 인원,02시 인원,03시 인원,04시 인원,05시 인원,...,14시 인원,15시 인원,16시 인원,17시 인원,18시 인원,19시 인원,20시 인원,21시 인원,22시 인원,23시 인원
0,승차,2023-12-15,사상,8915,0,0,0,0,36,300,...,433,478,503,638,664,446,408,270,270,178
1,승차,2023-12-15,괘법 르네시떼,1446,0,0,0,0,9,55,...,71,55,81,99,135,65,53,32,23,14
2,승차,2023-12-15,서부산 유통지구,1587,0,0,0,0,1,8,...,82,76,155,498,362,70,33,17,7,3
3,승차,2023-12-15,공항,5731,0,0,0,0,0,4,...,346,354,438,583,404,355,379,419,258,56
4,승차,2023-12-15,덕두,1454,0,0,0,0,0,7,...,65,55,106,321,285,54,37,30,21,3